<a href="https://colab.research.google.com/github/rivkms/2021_sw_exam/blob/main/2%EC%A3%BC%EC%B0%A8_%EC%88%98%EC%97%85Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2주차. Numpy(넘파이)

다음 수식을 코드로 표현해보자. 

![exp](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbwB6B9%2FbtqDjdVBFNr%2F5Zy9Wvg5USkMkDb5pz9KN1%2Fimg.png)

print("hello")

In [ ]:
coef_matrix = [[2,2,1], [2,-1,2], [1,-1,2]]
const_vector = [9, 6, 5]

- 파이썬 list로도 표현 가능함
- 문제는 실제 우리가 접하게 될 데이터는 처리할 양이 매우 크다는 것.
- 복잡한 Matrix 표현문제와 파이썬(인터프리터)의 처리속도가 문제

#### Numpy는

- Numerical Python
- 파이썬의 고성능 과학 계산용 패키지
- Matrix와 Vector와 같은 Array 연산의 표준이 되었음

#### Numpy 특징
- 파이썬 list에 비해 빠르고 메모리 효율적
- 반복문 없이 배열 처리 지원
- 선형대수와 관련된 연산 제공

#### Numpy 설치방법
- pip install numpy(아나콘다와 함께 설치됨)

## [Live Coding1]
실습 데이터는 영화평점 데이터로 Movielens 웹 사이트에서 지속적으로 수집하여 업데이트 해주는 영화관련 정보로 2차원 데이터다. 2018년 9월 기준 600명이 9,000개의 영화에 대해 평가한 100,000개의 데이터를 가지고 있다. (출처: https://grouplens.org/datasets/movielens/)

<img src='https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbAOrY6%2FbtqDjHWpQjm%2FnXJpkkSHXCNImTpKZHeqa1%2Fimg.png' width=500 title='live'>

## [Live Coding2]
mnist는 케라스에 포함된 이미지 데이터셋으로 머신러닝 학습에서 기초 데이터로 많이 사용되는 자료로서 3차원 데이터이다.

- 케라스
    - 딥러닝 모델을 간편하게 만들고 훈련시킬 수 있는 프레임워크
    - 사용하기 쉬운 API
    - 케라스는 딥러닝을 위한 고수준 구성요소를 제공하며 저수준 연산은 백엔드 엔진(Tensorflow)이 맡음

- mnist 데이터셋
<img src='https://upload.wikimedia.org/wikipedia/commons/2/27/MnistExamples.png' width=300>

## 1. 데이터 표현 종류
<img src='https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbrE6MZ%2FbtqDiaE2a0Y%2FGfpVheNi2IqJBtiPUXxlT0%2Fimg.png' width=600 title='tensor'>

|종류|Scalar(0D tensor)|Vector(1D tensor)|Matrix(2D tensor)|3D Tensor|4D Tensor|
|:---:|:---|:---|:---|:---|:---|
|차원|0차원|1차원|2차원|3차원|4차원|
|특징|- 숫자|    - 숫자의 배열, 1개의 축(axis)을 가짐|    - 행과 열, 2개의 축을 가짐|    - (samples, width, height) 크기의 3D 텐서<br>- 사례: mnist 이미지|    - 딥러닝에서는 보통 0D~4D까지의 데이터를 다룸<br>- (samples, channels, width, height) 크기의 4D 텐서<br>- 사례: 컬러 이미지|
|표현| ( ) | (1, ) | (1, 10) | (1, 10, 100) | (1, 10, 100, 1000) |

## 2. 배열의 생성과 형태 탐색
#### 가. import

- 일반적으로 np라는 별칭으로 호출함

In [ ]:
import numpy as np

#### 나. 배열 생성

- numpy는 np.array 함수를 활용하여 ndarray 배열을 생성함
- numpy 배열은 동일한 데이터 타입만 저장할 수 있음(list와 다른점)
- C의 Array를 사용하여 배열을 생성함(처리속도가 빠름)

In [ ]:
arr = np.array([1, 4, 2, '9'], float)
arr

In [ ]:
arr[3]

In [ ]:
type(arr)

In [ ]:
arr.dtype

Array shape 종류: 넘파이 배열의 차원 구성을 반환함

1. scalar: 숫자값이며 ( )처럼 표현함.
2. vector: 1차원 데이터이며 (4, )처럼 표현함.
3. matrix: 2차원 데이터이며 (3, 4)처럼 표현함.
4. tensor: 3차원 데이터이며 (4, 3, 4)처럼 표현함.

In [ ]:
arr.shape

- ndim: 차원의 개수를 반환함.
- size: 데이터의 개수를 반환함.

In [ ]:
arr.ndim

In [ ]:
arr.size

In [ ]:
arr1 = np.array([[1, 2, 3], 
                [4.5, 5, 6]], dtype=int)
arr1

In [ ]:
print('데이터 type: {}'.format(arr1.dtype))
print('데이터 shape: {}'.format(arr1.shape))
print('데이터 ndim: {}'.format(arr1.ndim))
print('데이터 size: {}'.format(arr1.size))
print('데이터 nbytes: {}'.format(arr1.nbytes))

## 3. 배열 차원 다루기

#### 가. reshape

In [ ]:
matrix = np.array([[1,2,5,8], 
                   [1,2,5,8]])
matrix.shape

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FrmTCj%2FbtqDjHvlVIf%2F4hMcqzN3OB2nTBzKSam9T1%2Fimg.png" width=600px title='reshape'>

- reshape: size만 같다면 다차원으로 자유롭게 변형 가능

In [ ]:
matrix.reshape(8, )

In [ ]:
matrix.reshape(-1, 1) # -1은 size를 기반으로 전체 row를 결정

In [ ]:
matrix.reshape(-1, 2) # -1은 size를 기반으로 전체 row를 결정

In [ ]:
matrix.reshape(2, 2, 2)

#### 나. flatten
![flatten](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FslQnB%2FbtqDhuRknyw%2Fcypbuh6kP9bCbXh2PZgAu0%2Fimg.png)

In [ ]:
matrix2 = np.array([[[1,2,3,4],
                     [1,2,5,8]],
                    
                    [[1,2,3,4],
                     [1,2,5,8]]])
matrix2.shape

In [ ]:
matrix2.flatten()

## 4. 인덱싱과 슬라이싱

#### 가. 인덱싱(indexing)

- list와 달리 [0,0] 같은 표기법을 제공함

In [ ]:
insl = np.array([[1,2,3],
                 [4,5,6]])
print(insl[0,1], insl[0][1])

In [ ]:
insl[0][0] = 10
insl

#### 나. 슬라이싱(slicing)

- list와 달리 행과 열 부분을 나눠서 슬라이싱 가능함
- matrix의 부분집합을 추출할 때 유용함
![slicing](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FWkrbQ%2FbtqDhwn0yWO%2FRSHjcdbEqypN8L3kiMbtx0%2Fimg.png)

In [ ]:
insl[ : , 2:]  # [행 전체, 2열 이상]

In [ ]:
insl[1, 1:3] # [1행, 1열~2열]

In [ ]:
insl[1:3] # 하나만 입력하면 행만 타겟, 1행~2행

## 5. 독특한 배열 생성

#### 가. arange
- 범위를 지정하여 array를 만듬

In [ ]:
np.arange(10)

- np.arange(시작, 끝, step): step에 실수도 가능.(파이썬 list에서는 정수만 가능)

In [ ]:
np.arange(0, 5, 0.5)

In [ ]:
np.arange(30).reshape(-1, 6)

#### 나. zeros
- 0으로 가득찬 ndarray 생성

In [ ]:
np.zeros(shape=(10,), dtype=int)

In [ ]:
np.zeros((2,5))

#### 다. ones
- 1로 가득찬 ndarray 생성

In [ ]:
np.ones(shape=(10,), dtype=float)

#### 다. empty
- shape만 주어지고 비어있는 ndarray 생성(메모리 초기화 안됨)

In [ ]:
np.empty((3, 5), dtype=int)

#### 라. something_like
- 기존 ndarray의 shape크기만큼 (zeros, ones, empty)배열을 반환

In [ ]:
arr3 = np.arange(30).reshape(5, 6)
np.ones_like(arr3)

#### 마. identity
- 단위 행렬을 생성

In [ ]:
np.identity(n=3, dtype=int)

#### 바. eye
- 대각선이 1인 행렬, k값의 시작 index변경 가능

In [ ]:
np.eye(N=3, M=5, dtype=int)

In [ ]:
np.eye(3)

In [ ]:
np.eye(3, 5, k=2) # k = 시작 index

#### 사. diag
- 대각 행렬의 값을 추출함

In [ ]:
arr4 = np.arange(9).reshape(3, 3)
arr4

In [ ]:
np.diag(arr4)

#### 아. random sampling
- 데이터 분포에 따른 sampling으로 배열 생성

- 균등분포(uniform): 0~1사이의 각 숫자가 나타날 확률이 균등한 분포. 일반적으로 난수생성기가 만들어주는 방식.

In [ ]:
np.random.uniform(0, 1, 12).reshape(-1, 3) # 균등분포

- 정규분포(normal): 0~1사이의 각 숫자가 나타날 확률이 엎어진 종모양을 따르는 분포. 우리 일상생활에서 많이 사용됨.

In [ ]:
np.random.normal(0, 1, 12).reshape(-1, 3) # 정규분포

## 6. 배열 합치고 쪼개기

#### 1. vstack & hstack
![hstack](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FmYx7F%2FbtqDgyGB701%2FQtSfB44Q3vhAaGtzUjE2g0%2Fimg.png)

In [ ]:
a = np.array([1, 2, 3])
b = np.array([2, 3, 4])
c = np.vstack((a, b))
c

In [ ]:
a = np.array([[1],[2],[3]])
b = np.array([[2],[3],[4]])
c = np.hstack((a, b))
c

#### 나. concatenate

In [ ]:
a = np.array([1, 2, 3])
b = np.array([2, 3, 4])
np.concatenate((a, b))

#### 다. 배열 연산

In [ ]:
a = np.array([[1,2,3],[4,5,6]])
a

In [ ]:
a + a

In [ ]:
a - a

In [ ]:
a * a

#### 라. Dot product 연산
![dot](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FEeRjx%2FbtqDg4rHzNl%2FrZOINeS4Pl0XGgKHoVZHp0%2Fimg.png)

In [ ]:
a = np.arange(1,7).reshape(2,3)
b = np.arange(7,13).reshape(3,2)
a.dot(b)

#### 마. transpose
- 전치행렬
- T 속성으로도 구현가능

In [ ]:
a = np.arange(1,7).reshape(2,3)
a

In [ ]:
a.transpose()

In [ ]:
a.T

#### 바. broadcasting
- shape이 다른 배열끼리 연산하는 방법

![broad](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FHOXdN%2FbtqDj2zfDOB%2FnnKQwuDShJKcOHpOrL39P1%2Fimg.png)

In [ ]:
a = np.arange(1,7).reshape(2,3)
scalar = 3
a + scalar

In [ ]:
a - scalar

In [ ]:
a * scalar

In [ ]:
a ** 2

- scalar외에 vector, matrix간 연산도 지원

![broad1](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2F7o6FU%2FbtqDiE6Zwdi%2FhE2j9MT59PhDwVN7eiL390%2Fimg.png)

In [ ]:
a = np.array([[0],[10],[20],[30]])
b = np.array([0, 1, 2])
a + b

## 7. 수학 통계 함수

#### 가. sum
- 요소 값들의 합을 구함.

In [ ]:
arr5 = np.arange(1, 13).reshape(3, 4)
arr5

In [ ]:
np.sum(arr5, dtype=float)

#### 나. axis
- 모든 함수를 실행할 때, 기준이 되는 dimension 축

![axis1](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fbz8dxL%2FbtqDjH3cJc8%2FTWvYY8HUSxUJLeG2wslWOk%2Fimg.png)

- tip: 1차원에서 2차원배열이 될때 추가되는 축이 axis=0이 됨

In [ ]:
np.sum(arr5, axis=1)

In [ ]:
np.sum(arr5, axis=0)

![axis2](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fb6On6z%2FbtqDjfeL7Kv%2F7RmgbvyPQAMdSSFShqYKs1%2Fimg.png)

In [ ]:
arr5.reshape(3,2,2) # 3차원으로 변경

In [ ]:
np.sum(arr5.reshape(3,2,2),axis=0)

In [ ]:
np.sum(arr5.reshape(3,2,2),axis=1)

In [ ]:
np.sum(arr5.reshape(3,2,2),axis=2)

#### 다. 기초 통계 함수

In [ ]:
np.mean(arr5) # 평균

np.mean(arr5, axis=0) # 평균구할때 축 기준 넣기

np.std(arr5) # 표준편차

np.var(arr5) # 분산

np.max(arr5), np.min(arr5) # 최대값, 최소값
np.argmax(arr5), np.argmin(arr5) # 최대값의 위치, 최소값의 위치

np.median(arr5) # 중앙값

np.percentile(arr5, 25) # 1사분위 수

np.percentile(arr5, 50) # 2사분위 수=중앙값

np.percentile(arr5, 75) # 3사분위 수

#### 라. 수학관련 함수
- np.something 방식으로 호출
- exp, log, power, sqrt 등

In [ ]:
np.exp(arr5)

## 8. 기타

#### 가. all & any

In [ ]:
arr6 = np.arange(10)
arr6

In [ ]:
np.all(arr6<10) # 원소 모두가 조건 만족하면 True

In [ ]:
np.all(arr6) # 0은 거짓, 0이 아닌 값은 참

In [ ]:
np.any(arr6>5) # 각 요소가 하나라도 조건에 맞으면 True

나. 비교

In [ ]:
temp1 = np.array([1, 3, 0])
temp2 = np.array([5, 2, 0])
temp1 > temp2  # 각 요소끼리 비교 결과를 boolean 타입으로 반환

In [ ]:
temp1 == temp2

In [ ]:
(temp1 > temp2).any()

In [ ]:
temp1 > 2

#### 다. where

In [ ]:
temp4 = np.array([10,20,30,40,50,60])
temp4

In [ ]:
np.where(temp4 < 35) # index 값 반환

In [ ]:
np.where(temp4 > 10, 1, 0) # where(condition, True, False)

#### 라. 부정형 값

In [ ]:
temp3 = np.array([1, np.NaN, np.Inf]) # Not a number & Infinite number
temp3

In [ ]:
np.isnan(temp3) # Not a number가 있는지 체크

In [ ]:
np.isfinite(temp3) # 유한값이 있는지 체크

#### 마. boolean 인덱싱

In [ ]:
temp4

In [ ]:
temp4[temp4 > 35] # 조건이 True인 요소만 추출

#### 바. fancy 인덱싱

In [ ]:
temp5 = np.array([2, 4, 6, 8])
temp6 = np.array([0,0,3,2,1,2], int) # temp5가 가진 인덱스만으로 반드시 int로 선언
temp5[temp6] # temp6의 요소를 temp5의 인덱스로 받아서 해당 값들을 배열로 반환

## 9. Numpy 파일 입출력

#### 가. loadtxt & savetxt

In [ ]:
data = np.loadtxt('ratings.csv', delimiter=',', skiprows=1)

In [ ]:
np.savetxt('result.csv', data, delimiter=',')

#### 나. load & save
- Numpy object(pickle) 형태로 데이터를 저장하고 불러옴.
- Binary파일 형태로 저장

In [ ]:
np.save('test_npy', arr=temp6)

In [ ]:
npy = np.load('test_npy.npy')
npy

> 위에서 특별히 언급되지 않은 이미지는 다음 출처: https://www.edwith.org/aipython/joinLectures/27853