<a href="https://colab.research.google.com/github/rivkms/2021_sw_exam/blob/main/3%EC%A3%BC%EC%B0%A8_%ED%95%99%EC%83%9D_Pandas(%EC%88%98%EC%97%85%EC%9E%90%EB%A3%8C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [kaggle과 colab 연동하기]

1. kaggle account에서 개인 API 다운로드
2. 캐글 설치
3. 개인 API 업로드 & 디렉터리 설정

In [ ]:
# 캐글과 코랩 연동을 위한 kaggle.jason 파일(캐글-My Account에서 다운로드) 업로드
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.10)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"youngakim","key":"f04ca881ed2a8345ea89d8c59d8eff00"}'}

In [ ]:
# kaggle.json 파일을 적절한 디렉토리로 이동
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# Permission Warning 이 일어나지 않도록 함 
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# 데이터 로드
!kaggle datasets download -d samuelvedrik/ramen-ratings-latest-update-jan-25-2020

401 - Unauthorized

In [ ]:
# zip파일 압축 해제 후 현재 디렉토리의 파일 리스트 보기
!unzip

-------------
# 3주차. Pandas(판다스)
- 구조화된 데이터 처리를 지원하는 Python 라이브러리로 파이썬계의 엑셀이라고 불림 
- 고성능 Array 계산 라이브러리인 Numpy를 통합해 강력한 '스프레드시트' 처리 기능을 제공
- 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있어 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구
- 자동적/명시적으로 축의 이름에 따라 데이터를 정렬할 수 있는 데이터구조
- SQL 같은 일반 데이터베이스처럼 데이터를 합치고 관계연산을 수행하는 기능
- scikit-learn과 같은 머신러닝 라이브러리와 함께 많이 활용됨


- 자료구조
  - 1차원 자료구조 : series
<img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" width="400px">

  - 2차원 자료구조 : dataFrame
  여러 개의 칼럼(column)으로 구성되어 있는데, 각 칼럼 별로 서로 다른 종류의 자료형(숫자, 문자열, True/False)을 저장할 수 있음

  <img src="https://cdn-images-1.medium.com/max/800/1*6p6nF4_5XpHgcrYRrLYVAw.png" width="700px">

## [Live Coding] Ramen-Ratings 데이터 분석하기

In [ ]:
# 라이브러리 import

### 1.데이터 로드 및 확인

In [ ]:
# 데이터 로드


# 데이터 탐색

In [ ]:
# 데이터 shape 확인

In [ ]:
# 데이터 정보 확인

In [ ]:
# 간단한 통계 정보 확인

### 2.missing data 확인

- isna() : None, numpy.NaN과 같은 NA value인지 검사하여 True/False 리턴

In [ ]:
# 결측값 확인

#### Style 컬럼

In [ ]:
# Style에서 어떤 데이터가 비어있는지 확인

- 결측값 처리방법
    - 비어있는 데이터는 1)삭제 2)평균값 3)중앙값 4)최빈값 5)예측알고리즘 등으로 대체값 찾기
    - 어떤 방법으로 할지는 데이터에 따라 다름
- 여기서는 최빈값으로 해보자.

In [ ]:
# Kamfen사가 China에서 라면을 주로 어떤 Style로 파는지 파악

In [ ]:
# Unif사가 Taiwan에서 라면을 주로 어떤 Style로 파는지 파악

In [ ]:
# 결측값을 최빈값으로 채우기

data.isna().sum()

- 만약 결측데이터가 가치가 없다고 판단되면 삭제도 방법

In [ ]:
# Style에서 결측데이터를 가지고 있는 행을 삭제

data['Style'].isna().sum()

#### Stars 컬럼
- Stars에 숫자가 아닌 값이 있는지 확인

대부분 스프가 포함되지 않은 사리면이므로 Stars=0으로 대체하자.

In [ ]:

print(data[data['Stars']=='Unrated']['Stars'].sum())

앞서 Stars컬럼은 object 타입임을 확인했으므로 숫자 타입으로 변경

### 3.데이터 시각화
- 데이터 시각화를 통해 데이터에 대한 통찰을 얻는다.
- matplotlib과 seaborn을 적절하게 사용
- [matplotlib 시각화 참고자료](https://datascienceschool.net/view-notebook/d0b1637803754bb083b5722c9f2209d0/)
- [seaborn 시각화 참고자료](https://datascienceschool.net/view-notebook/4c2d5ff1caab4b21a708cc662137bc65/)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

#### Style별 비율

In [ ]:


plt.figure()
plt.pie(style_count, labels=labels, autopct='%.2f%%', startangle=180)
plt.show()

#### 나라별 브랜드 개수

In [ ]:
#f, ax = plt.subplots(figsize=(15,5))
plt.figure(figsize=(15, 5))
plt.bar('Country', 'Amount of Brands', data=df_cnt_brand, color='gold')
plt.title('Amount', fontsize=14)
plt.ylabel('Number of brands')
plt.xticks(rotation=90)
plt.show()

#### Stars 분포

- Seaborn의 distplot 명령은 러그와 커널 밀도 표시 기능이 있어서 Matplotlib의 hist 명령보다 많이 사용된다.

In [ ]:
sns.distplot(data['Stars'], rug=True)

#### Style별 Stars 분포

In [ ]:
sns.boxplot(data['Style'], data['Stars'])

---------------
## [Pandas 이론]


### 1.Pandas 라이브러리 import하기

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

### 2.파일에서 데이터 로드하기

- 확장자가 CSV가 아닌 파일 즉, 데이터를 구분하는 구분자(separator)가 쉼표(comma)가 아니면 sep 인수를 써서 구분자를 사용자가 지정해준다. 
- 만약 구분자가 길이가 정해지지 않은 공백인 경우에는 \s+라는 정규식(regular expression) 문자열을 사용한다.

In [ ]:
# csv타입 데이터 파일, sep:구분자로 여러 공백 지정, 피처이름 없음.
data = pd.read_csv('housing.data', sep='\s+', header=None)

파일로부터 데이터를 가져와서 DataFrame 생성하여 반환한다.

In [ ]:
data.head() # 처음 5행 출력

### 3.Series
- columns vector를 표현하는 object
- numpy.ndarray의 자식클래스로 ndarray에 몇가지 기능이 추가된 것


#### 3-1.Series 생성

In [ ]:
from pandas import Series

In [ ]:
list_data = [1,2,3,4,5]
ex_series = Series(data=list_data)
ex_series

- 첫째열이 index, 둘째열이 data, 하단에 data type 정보

- 파이썬의 list, dict 모두 쉽게 Series타입으로 변환 가능
- dtype으로 데이터 타입 지정가능

In [ ]:
list_index = ['A','B','C','D','E']
ex2_series = Series(list_data, index=list_index)
ex2_series

In [ ]:
dict_data = {'a':1, 'b':2, 'c':3, 'd':4}
ex3_series = Series(dict_data, dtype=float)
ex3_series

#### 3-2.Series 다루기

- 인덱스로 접근하여 데이터 수정 가능

In [ ]:
ex3_series['a']

In [ ]:
ex3_series['a'] = 10.0
ex3_series

- valus로 값만, index로 인덱스만 추출할 수 있다.

In [ ]:
ex3_series.values

In [ ]:
ex3_series.index

### 4.DataFrame
- 여러 개의 Series가 연결된 집합으로 2차원 테이블(table) 형태
- 각 컬럼(column)이 다른 데이터 타입을 가질수 있음
- 행(row)과 열(column) 인덱스를 가짐
- 크기는 삽입/삭제를 통해 변할 수 있음(mutable)


#### 4-1.DataFrame 생성

In [ ]:
raw_data = {'성': ['손', '이', '류', '김'],
           '이름': ['흥민', '강인', '현진', '광현'],
           '나이': [27, 19, 32, 31],
            '팀': ['Tottenham', 'Valencia', 'Toronto', 'Saint Louis']}
df = pd.DataFrame(raw_data)
df

- 필요한 컬럼만으로 DataFrame을 만들 수 있으며
- 새로운 컬럼을 추가할 수도 있다. 이때 NaN(Not a Number)가 기본값.

In [ ]:
team = pd.DataFrame(raw_data, columns=['이름','팀'])
team

In [ ]:
income = pd.DataFrame(raw_data, columns=['성','이름','나이','팀','연봉'])
income

#### 4-2.DataFrame 인덱싱/슬라이싱

- 한 개 컬럼 선택시 Series 추출

In [ ]:
name_series = df['이름'] 
name_series

- 두 개 이상의 컬럼은 DataFrame으로 추출

In [ ]:
df[['성', '이름']].head(2) # 리스트의 리스트

- 원하는 행 슬라이싱

In [ ]:
df[:2]

In [ ]:
df['팀'][:2]

- iloc: 숫자를 이용해 인덱싱. 우리가 배워온 인덱싱과 같은 원리

In [ ]:
df.iloc[1] # 테이블에서 1번행을 가져옴

In [ ]:
df.iloc[1, 2:]

- loc: 인덱스 '이름'을 기준으로 인덱싱

In [ ]:
df.loc[1] # 테이블의 인덱스 이름이 '1'인 행을 가져옴. iloc와 다름

- iloc와 loc 비교

In [ ]:
temp = pd.DataFrame(raw_data, index=[55, 56, 1, 2])
temp

In [ ]:
temp.iloc[2] # 2번 행이 출력

In [ ]:
temp.loc[2] # 인덱스 이름이 '2'인 행이 추출

In [ ]:
temp.loc[56:1]

- 조건에 맞는 행만 추출

In [ ]:
df[df['나이']<30]

#### 4-3.DataFrame 다루기

- DataFrame에 새로운 컬럼 추가

In [ ]:
df['old'] = df.나이 > 30
df

- DataFrame 전치

In [ ]:
df.T

- 값 출력

In [ ]:
df.values

In [ ]:
df['팀'].values

- 컬럼 삭제

In [ ]:
del df['old']
df

In [ ]:
df.drop('나이', axis=1) # df.drop(['나이', '팀'], axis=1)

In [ ]:
df

del 명령과 달리 drop은 가상으로만 삭제(view에서만 삭제)하고 실제로 삭제하지는 않는다. 삭제된 내용을 실제로 반영하려면 drop에 inplace=True 속성을 삽입한다.

In [ ]:
df.drop('나이', axis=1, inplace=True)
df

- 행 삭제

In [ ]:
df.drop(1, inplace=True)
df

### 5.DataFrame 연산


#### 5-1.Series 연산
- index를 기준으로 연산 수행

In [ ]:
s1 = pd.Series(range(1,6), index=list('abcde'))
s1

In [ ]:
s2 = pd.Series(range(5,11), index=list('ebcdef'))
s2

In [ ]:
s1.add(s2) # s1+s2

양쪽에 모두 있는 index끼리 연산하고, 한쪽만 있는 경우 NaN값으로 반환

#### 5-2.DataFrame 연산
- column과 index를 모두 고려하여 연산 수행

In [ ]:
import numpy as np
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns=list('abc'))
df1

In [ ]:
df2 = pd.DataFrame(np.arange(16).reshape(4,4), columns=list('abcd'))
df2

In [ ]:
df1.add(df2) # df1.add(df2, fill_value=0)

#### 5-3.Series + DataFrame
- broadcasting 실행

In [ ]:
s3 = pd.Series(np.arange(10, 14), index=list('abcd'))
s3

In [ ]:
df3 = pd.DataFrame(np.arange(16).reshape(4,4), columns=list('abcd'))
df3

In [ ]:
df3.add(s3) # broadcasting

인덱스가 동일하도록 axis를 맞춰줘야 한다.

In [ ]:
s4 = pd.Series(np.arange(10, 14)) # 인덱스는 0,1,2,3
s4

In [ ]:
df3.add(s4, axis=0)

--------------------
## [Pandas built-in function]

In [ ]:
# 데이터 로드
!kaggle datasets download -d ljanjughazyan/wages

In [ ]:
# zip파일 압축 해제 후 현재 디렉토리의 파일 리스트 보기
!unzip wages.zip
!ls

In [ ]:
data = pd.read_csv('wages.csv')
data.head(3)

### 1.describe
- 데이터 요약 정보 보여줌

In [ ]:
data.describe

### 2.unique
- Series의 유일한 값을 list로 반환

In [ ]:
data['race'].unique()

In [ ]:
np.array(dict(enumerate(data['race'].unique())))

### 3.replace
- 값을 변경할 때 많이 사용하는 함수

In [ ]:
# 컬럼 'sex' 값을 숫자로 변경
data['sex'].replace({'male':0, 'female':1}, inplace=True)
data.head()

In [ ]:
# 컬럼 'race'의 값들을 숫자로 변경
# race의 고유값들을 dict로 만들고
race_dict = dict(enumerate(data['race'].unique()))

# key와 value의 위치를 교환한 후
race_dict = {v:k for k, v in race_dict.items()}

# replace에 적용
data['race'].replace(race_dict, inplace=True)
data.head()

### 4.sum, sub, mean, min, max, count, median, etc
- 기본적인 수학, 통계 연산 지원

In [ ]:
data.sum(axis=0) # 컬럼 별로 합산

### 5.isnull
- 행/열의 NaN 값의 index를 반환

In [ ]:
data.isnull().sum()

### 6.sort_values
- column을 기준으로 데이터 정렬

In [ ]:
data.sort_values(['age', 'earn'], ascending=True).head(3)

### 7.corr & corrwith & cov 
- 상관계수

In [ ]:
data['age'].corr(data['earn']) # 한 변수와의 상관관계

In [ ]:
data.corrwith(data['earn'])  # 모든 변수와의 상관관계

In [ ]:
data.corr()

- 공분산

In [ ]:
data['age'].cov(data['earn'])

### 8.map & apply
- map
    - 함수와 sequence형 데이터를 인자로 받아
    - 각 요소마다 입력받은 함수를 적용하여 list로 반환
    - 일반적으로 함수는 lambda형태로 표현함
    - map(func, sequence)

In [ ]:
ex = pd.Series(np.arange(10))
ex.map(lambda x: x**2).head()

- apply
    - Series 전체(column)를 대상으로 함수를 적용

In [ ]:
df_info = data[['earn', 'height', 'age']]
df_info.apply(lambda x: x.max()-x.min())

### 9.groupby
- 데이터를 그룹핑할 때 많이 사용
- groupby의 결과물도 DataFrame

In [ ]:
data.groupby('race')['earn'].mean()

- 결과 race 컬럼을 기준으로 earn의 평균이 구해졌다.
- 'race' 대신 ['race', 'sex']와 같이 리스트를 이용해 두 개 이상의 컬럼도 묶을 수 있다.

In [ ]:
grouped = data.groupby(['race', 'sex'])['earn'].max()
grouped.head()

In [ ]:
grouped.unstack() # 그룹핑 결과를 matrix형태로 변환

- aggregation으로 그루핑 객체에 함수를 적용할 수 있다.

In [ ]:
race = data.groupby('race')
race.agg(np.mean)

In [ ]:
race['age'].agg([np.mean, np.max, np.min, np.std])

### 10.DataFrame 저장과 불러오기(pickle)
- 가장 일반적인 저장법

In [ ]:
data.to_pickle('data.pickle')

In [ ]:
df_recall = pd.read_pickle('data.pickle')
df_recall.head()